<div class="div-body animate__animated animate__fadeInDown">
  <div>
    <button pButton pRipple type="button" label="Nueva" icon="pi pi-plus" class="p-button-success-app" (click)="nuevo()"></button>
    &nbsp;
    <label class="p-text-bold" style="font-size: 20px;">{{titulo}}</label>
    <div class="p-mt-2"></div>
    <div class="p-grid" *ngIf="url === '/listaBgp' || url === '/listaAsi'">
        <div class="p-col-12 p-md-6 p-lg-2">
          <label class="p-text-bold">Fecha</label>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            <label class="p-text-bold">Nombre del predio</label>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
          <label class="p-text-bold">Concepto</label>
      </div>
    </div>
    <div class="p-grid" *ngIf="request.tabla == 'Formato' || request.tabla == 'Caracterizacion'">
      <div class="p-col-12 p-md-6 p-lg-2">
        <label class="p-text-bold">Fecha</label>
      </div>
      <div class="p-col-12 p-md-6 p-lg-2">
          <label class="p-text-bold">Municipio</label>
      </div>
      <div class="p-col-12 p-md-6 p-lg-3">
        <label class="p-text-bold">Nombre de la finca o institución</label>
      </div>
    </div>
    <div class="p-grid" *ngIf="request.tabla == 'EncabezadoRegistro'">
      <div class="p-col-12 p-md-6 p-lg-4">
        <label class="p-text-bold">Empresa ganadera</label>
      </div>
      <div class="p-col-12 p-md-6 p-lg-2">
          <label class="p-text-bold">Municipio</label>
      </div>
    </div>
  <div class="p-grid" *ngIf="url === '/listaBgp' || url === '/listaAsi'">
    <div class="p-col-12 p-md-6 p-lg-2">
      <p-calendar placeholder="dd/mm/aaaa" [showIcon]="true" inputId="icon"
                dateFormat="dd/mm/yy" [(ngModel)]="fecha">
      </p-calendar>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
      <input placeholder="Escriba aquí" type="text" [(ngModel)]="nombrePredio">
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
      <p-dropdown [options]="conceptos" styleClass="width_full"
      placeholder="Seleccione.." optionLabel="label" optionValue="value"
      [showClear]="true" optionDisabled="inactive" [(ngModel)]="concepto">
      </p-dropdown>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
      <div class="wrapper">
        <button pButton pRipple type="button" class="p-button-success-app" label="Buscar" (click)="filter()"></button>
        <div>
          <div class="p-mr-2"></div>
          <button pButton pRipple type="button" label="Limpiar" class="p-button-outlined" (click)="clean()"></button>
        </div>
        <div class="p-mr-2" *ngIf="url == '/listaAsi'">
          <button pButton pRipple type="button" class="p-button-success-app" label="Exportar a excel" (click)="downloadAsi()"></button>
        </div>
        <div class="p-mr-2" *ngIf="url == '/listaBgp'">
          <button pButton pRipple type="button" class="p-button-success-app" label="Exportar a excel" (click)="downloadBpg()"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid" *ngIf="isLista">
    <div class="p-col-12 p-md-6 p-lg-2">
      <p-calendar placeholder="dd/mm/aaaa" [showIcon]="true" inputId="icon"
                dateFormat="dd/mm/yy" [(ngModel)]="fechaF">
      </p-calendar>
    </div>
    <div class="p-col-12 p-md-6 p-lg-2">
      <p-dropdown [options]="municipios" styleClass="width_full"
      placeholder="Seleccione.." optionLabel="label" optionValue="value"
      [showClear]="true" optionDisabled="inactive" [(ngModel)]="municipio">
      </p-dropdown>
    </div>
    <div class="p-col-12 p-md-6 p-lg-2">
      <input placeholder="Escriba aquí" type="text" [(ngModel)]="nombreFinca">
    </div>
    <div class="p-col-12 p-md-6 p-lg-4">
      <div class="wrapper">
        <button pButton pRipple type="button" class="p-button-success-app" label="Buscar" (click)="filter()"></button>
        <div>
          <div class="p-mr-2"></div>
          <button pButton pRipple type="button" label="Limpiar" class="p-button-outlined" (click)="clean()"></button>
        </div>
        <div class="p-mr-2" *ngIf="url == '/caracterizacion'">
          <button pButton pRipple type="button" class="p-button-success-app" label="Exportar a excel" (click)="downloadCaracterizacion()"></button>
        </div>
        <div class="p-mr-2" *ngIf="url == '/recomendacion'">
          <button pButton pRipple type="button" class="p-button-success-app" label="Exportar a excel" (click)="downloadRecomendaciones()"></button>
        </div>
        <div class="p-mr-2" *ngIf="url == '/aspiracion'">
          <button pButton pRipple type="button" class="p-button-success-app" label="Exportar a excel" (click)="downloadCaracterizacion()"></button>
        </div>
        <div class="p-mr-2" *ngIf="url == '/transferenciaEmbrion'">
          <button pButton pRipple type="button" class="p-button-success-app" label="Exportar a excel" (click)="downloadCaracterizacion()"></button>
        </div>
        <div class="p-mr-2" *ngIf="url == '/evaluacionAndrologica'">
          <button pButton pRipple type="button" class="p-button-success-app" label="Exportar a excel" (click)="downloadCaracterizacion()"></button>
        </div>
        <div class="p-mr-2" *ngIf="url == '/listaToro'">
          <button pButton pRipple type="button" class="p-button-success-app" label="Exportar a excel" (click)="downloadCaracterizacion()"></button>
        </div>
        <div class="p-mr-2" *ngIf="url == '/listaDonadoras'">
          <button pButton pRipple type="button" class="p-button-success-app" label="Exportar a excel" (click)="downloadCaracterizacion()"></button>
        </div>
        <div class="p-mr-2" *ngIf="url == '/listaBra'">
          <button pButton pRipple type="button" class="p-button-success-app" label="Exportar a excel" (click)="downloadBra()"></button>
        </div>
        <div class="p-mr-2" *ngIf="url == '/listaIatf'">
          <button pButton pRipple type="button" class="p-button-success-app" label="Exportar a excel" (click)="downloadIatf()"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid" *ngIf="request.tabla == 'EncabezadoRegistro'">
    <div class="p-col-12 p-md-6 p-lg-4">
      <input placeholder="Escriba aquí" type="text" [(ngModel)]="empresaGanadera">
    </div>
    <div class="p-col-12 p-md-6 p-lg-2">
      <p-dropdown [options]="municipios" styleClass="width_full"
      placeholder="Seleccione.." optionLabel="label" optionValue="value"
      [showClear]="true" optionDisabled="inactive" [(ngModel)]="municipio">
      </p-dropdown>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
      <div class="wrapper">
        <button pButton pRipple type="button" class="p-button-success-app" label="Buscar" (click)="filter()"></button>
        <div>
          <div class="p-mr-2"></div>
          <button pButton pRipple type="button" label="Limpiar" class="p-button-outlined" (click)="clean()"></button>
        </div>
        <div class="p-mr-2" *ngIf="url == '/vehiculo'">
          <button pButton pRipple type="button" class="p-button-success-app" label="Exportar a excel" (click)="downloadPersona()"></button>
        </div>
        <div class="p-mr-2" *ngIf="url == '/potrero'">
          <button pButton pRipple type="button" class="p-button-success-app" label="Exportar a excel" (click)="downloadPotrero()"></button>
        </div>
        <div class="p-mr-2" *ngIf="url == '/veterinario'">
          <button pButton pRipple type="button" class="p-button-success-app" label="Exportar a excel" (click)="downloadTratamiento()"></button>
        </div>
        <div class="p-mr-2" *ngIf="url == '/capacitacion'">
          <button pButton pRipple type="button" class="p-button-success-app" label="Exportar a excel" (click)="downloadCapacitacion()"></button>
        </div>
      </div>
    </div>
  </div>
    <p-table *ngIf="datos.length > 0" 
      [value]="datos"
      scrollDirection="both"
      [scrollable]="true"
      [scrollHeight]="scroll"
      sortMode="single"
      (onSort)="sortColumn($event)"
      styleClass="p-datatable-sm">
      <ng-template pTemplate="header">
          <tr *ngIf="url === '/listaBgp'">
              <th  pSortableColumn="listaChequeoBean.fechaAuditoria" class="percentage_10">
                Fecha de auditoría
                <p-sortIcon field="listaChequeoBean.fechaAuditoria"></p-sortIcon>
              </th>
              <th pSortableColumn="listaChequeoBean.nombrePredio" class="percentage_25">
                Nombre del predio
                <p-sortIcon field="listaChequeoBean.nombrePredio"></p-sortIcon>
              </th>
              <th pSortableColumn="listaChequeoBean.nombrePropietario" class="percentage_25">
                Nombre del propietario
                <p-sortIcon field="listaChequeoBean.nombrePropietario"></p-sortIcon>
              </th>
              <th  pSortableColumn="listaChequeoBean.tipoVisita" class="percentage_15">
                Tipo de visita
                <p-sortIcon field="listaChequeoBean.tipoVisita"></p-sortIcon>
              </th>
              <th  pSortableColumn="concepto" class="percentage_15">
                Concepto
                <p-sortIcon field="concepto"></p-sortIcon>
              </th>
              <th  class="percentage_10">
              </th>
          </tr>
          <tr *ngIf="url === '/listaAsi'">
            <th  pSortableColumn="listaChequeoBean.fecha" class="percentage_10">
              Fecha
              <p-sortIcon field="listaChequeoBean.fecha"></p-sortIcon>
            </th>
            <th pSortableColumn="listaChequeoBean.numeroRegistroPredio" class="percentage_25">
              Número de registro
              <p-sortIcon field="listaChequeoBean.numeroRegistroPredio"></p-sortIcon>
            </th>
            <th pSortableColumn="listaChequeoBean.nombrePredio" class="percentage_25">
              Nombre del predio
              <p-sortIcon field="listaChequeoBean.nombrePredio"></p-sortIcon>
            </th>
            <th  pSortableColumn="listaChequeoBean.objeto" class="percentage_15">
              Objeto
              <p-sortIcon field="listaChequeoBean.objeto"></p-sortIcon>
            </th>
            <th  pSortableColumn="concepto" class="percentage_15">
              Concepto
              <p-sortIcon field="concepto"></p-sortIcon>
            </th>
            <th  class="percentage_10">
            </th>
          </tr>
          <tr *ngIf="isLista">
            <th  pSortableColumn="fecha" class="percentage_10">
              Fecha
              <p-sortIcon field="fecha"></p-sortIcon>
            </th>
            <th  pSortableColumn="municipio" class="percentage_20">
              Municipio
              <p-sortIcon field="municipio"></p-sortIcon>
            </th>
            <th pSortableColumn="nombrePropietario" class="percentage_20">
              Nombre del propietario
              <p-sortIcon field="nombrePropietario"></p-sortIcon>
            </th>
            <th pSortableColumn="nombreFinca" class="percentage_20">
              Nombre de la finca
              <p-sortIcon field="nombreFinca"></p-sortIcon>
            </th>
            <th  pSortableColumn="vereda" class="percentage_20">
              Vereda
              <p-sortIcon field="vereda"></p-sortIcon>
            </th>
            <th  class="percentage_10">
            </th>
          </tr>
          <tr *ngIf="request.tabla == 'EncabezadoRegistro'">
            <th  pSortableColumn="empresaGanadera" class="percentage_60">
              Empresa ganadera
              <p-sortIcon field="empresaGanadera"></p-sortIcon>
            </th>
            <th  pSortableColumn="municipio" class="percentage_30">
              Municipio
              <p-sortIcon field="municipio"></p-sortIcon>
            </th>
            <th  class="percentage_10">
            </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-objeto>
          <tr *ngIf="url === '/listaBgp'">
              <td class="percentage_10">
                {{objeto.listaChequeoBean.fechaAuditoria | dateFormat: 'DD/MM/yyyy'}}
                {{objeto.listaChequeoBean.fecha | dateFormat: 'DD/MM/yyyy'}}
              </td>
              <td class="column-app percentage_25">{{objeto.listaChequeoBean.nombrePredio}}</td>
              <td class="column-app percentage_25">{{objeto.listaChequeoBean.nombrePropietario}}</td>
              <td class="column-app percentage_15">{{objeto.listaChequeoBean.tipoVisita}}</td>
              <td class="percentage_10">
                <app-texto [text]="objeto.concepto" [type]="objeto.concepto === 'FAVORABLE' ? 'success' : 'danger'"></app-texto>
              </td>
              <td class="percentage_10">
                <span class="pi pi-eye funcionalidad animate__animated animate__zoomIn"
                  pTooltip="Ver detalle"
                  tooltipPosition="left"
                  p-tooltip-text (click)="editar(objeto)"></span>
              </td>
          </tr>
          <tr *ngIf="url === '/listaAsi'">
            <td class="percentage_10">
              {{objeto.listaChequeoBean.fecha | dateFormat: 'DD/MM/yyyy'}}
            </td>
            <td class="column-app percentage_25">{{objeto.listaChequeoBean.numeroRegistroPredio}}</td>
            <td class="column-app percentage_25">{{objeto.listaChequeoBean.nombrePredio}}</td>
            <td class="column-app percentage_15">{{objeto.listaChequeoBean.objeto}}</td>
            <td class="percentage_10">
              <app-texto [text]="objeto.concepto" [type]="objeto.concepto === 'FAVORABLE' ? 'success' : 'danger'"></app-texto>
            </td>
            <td class="percentage_10">
              <span class="pi pi-eye funcionalidad animate__animated animate__zoomIn"
                pTooltip="Ver detalle"
                tooltipPosition="left"
                p-tooltip-text (click)="editar(objeto)"></span>
            </td>
          </tr>
          <tr *ngIf="isLista">
            <td class="percentage_10">
              {{objeto.fecha | dateFormat: 'DD/MM/yyyy'}}
            </td>
            <td class="column-app percentage_20">{{objeto.municipio}}</td>
            <td class="column-app percentage_20">{{objeto.nombrePropietario}}</td>
            <td class="column-app percentage_20">{{objeto.nombreFinca || objeto.nombrePredio}}</td>
            <td class="column-app percentage_20">{{objeto.vereda}}</td>
            <td class="percentage_10">
              <span class="pi pi-eye funcionalidad animate__animated animate__zoomIn"
                pTooltip="Ver detalle"
                tooltipPosition="left"
                p-tooltip-text (click)="editar(objeto)"></span>
            </td>
          </tr>
          <tr *ngIf="request.tabla == 'EncabezadoRegistro'">
            <td class="column-app percentage_60">{{objeto.empresaGanadera}}</td>
            <td class="column-app percentage_30">{{objeto.municipio}}</td>
            <td class="percentage_10">
              <span class="pi pi-eye funcionalidad animate__animated animate__zoomIn"
                pTooltip="Ver detalle"
                tooltipPosition="left"
                p-tooltip-text (click)="editar(objeto)"></span>
            </td>
          </tr>
      </ng-template>
    </p-table>
    <p-paginator
        *ngIf="count > 0"
        [pageLinkSize]="5"
        [showCurrentPageReport]="true" 
        [showFirstLastIcon]="false"
        currentPageReportTemplate="{first} - {last} de {totalRecords} ordenes" 
        [rows]="rows" [totalRecords]="count" 
        [rowsPerPageOptions]="[10,20,50]" 
        (onPageChange)="onPageChange($event)" data-cy="paginator">
    </p-paginator>
  </div>
  <div class="descripcion div-info " *ngIf="datos == null || datos.length == 0">
    <div style="font-size: 18px; font-family: 'Open sans'; display: flex;">
      <div style="margin: auto;">
        Opps! Tu búsqueda no arrojo ningún resultado
      </div>        
    </div>
  </div>
</div>

