<div class="content-app">
  <cmd-title text="Registro de tratamientos veterinarios"></cmd-title>
  <div class="card_border border_top_green content-app">
    <div class="p-grid">
      <div class="p-col-6 app-header">Empresa ganadera:</div>
      <div class="p-col-6 app-header-value">
        <input type="text" pInputText [(ngModel)]="objeto.empresaGanadera"/>
      </div>
      <div class="p-col-6 app-header">Municipio:</div>
      <div class="p-col-6 app-header-value">
          <p-dropdown [options]="municipios" style="width: 300px;" placeholder="Seleccione.."
              optionLabel="label" optionValue="value" [showClear]="true" optionDisabled="inactive"
              [(ngModel)]="objeto.municipio">
          </p-dropdown>
      </div>
      <div class="p-col-11"></div>
      <div class="p-col-1">
        <button pButton pRipple type="button" pTooltip="Agregar" tooltipPosition="left" icon="pi pi-plus" class="p-button-success-app" (click)="add()"></button>
      </div>
    </div>
    <div style="overflow: auto;">
      <div style="width: 140%;">
        <div class="p-grid">
          <div class="p-col-1 app-header">Fecha inicio Tto</div>
          <div class="p-col-1 app-header">Id animal</div>
          <div class="p-col-1 app-header">Nombre del medicamento</div>
          <div class="p-col-1 app-header">Uso</div>
          <div class="p-col-1 app-header">Laboratorio</div>
          <div class="p-col-1 app-header">Lote No.</div>
          <div class="p-col-1 app-header">Registro ICA No.</div>
          <div class="p-col-1 app-header">Dosis</div>
          <div class="p-col-1 app-header">Via de aplicación</div>
          <div class="p-col-1 app-header">Duración Tto</div>
          <div class="p-col-1 app-header">Tiempo de retiro</div>
          <div class="p-col-1 app-header">Responsable</div>
        </div>
        <div *ngFor="let item of items; let i = index" class="item-app">
          <div class="p-grid">
            <div class="p-col-1">
              <p-calendar placeholder="dd/mm/aaaa" [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy"
                        [(ngModel)]="item.fechaInicio">
              </p-calendar>
            </div>
            <div class="p-col-1">
              <input type="text" pInputText [(ngModel)]="item.idAnimal"/>
            </div>
            <div class="p-col-1">
              <input type="text" pInputText [(ngModel)]="item.nombreMedicamento"/>
            </div>
            <div class="p-col-1">
              <input type="text" pInputText [(ngModel)]="item.uso"/>
            </div>
            <div class="p-col-1">
              <input type="text" pInputText [(ngModel)]="item.laboratorio"/>
            </div>
            <div class="p-col-1">
              <input type="text" pInputText [(ngModel)]="item.loteNo"/>
            </div>
            <div class="p-col-1">
              <input type="text" pInputText [(ngModel)]="item.registroIcaNo"/>
            </div>
            <div class="p-col-1">
              <input type="text" pInputText [(ngModel)]="item.dosis"/>
            </div>
            <div class="p-col-1">
              <input type="text" pInputText [(ngModel)]="item.viaDeAplicacion"/>
            </div>
            <div class="p-col-1">
              <input type="text" pInputText [(ngModel)]="item.duracionTto"/>
            </div>
            <div class="p-col-1">
              <input type="text" pInputText [(ngModel)]="item.tiempoRetiro"/>
            </div>
            <div class="p-col-1">
              <div class="p-grid">
                <div class="p-col-10"><input type="text" pInputText [(ngModel)]="item.responsable"/></div>
                <div class="p-col-2"> <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-danger" (click)="remove(i)" pTooltip="Eliminar" tooltipPosition="left"></button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer" *ngIf="objeto.id == undefined">
      <div class="wrapper">
        <button pButton pRipple type="button" label="Cancelar" class="p-button-outlined" (click)="cancelar()"></button>
        <div class="p-mr-2"></div>
        <button pButton pRipple type="button" class="p-button-success-app" label="Guardar" (click)="guardar()"></button>
      </div>
    </div>
  </div>
</div>
