<div class="content-app">
  <h3>
    Listado de Inseminación artificial
  </h3>
  <div class="card_border border_top_green content-app">
    <div class="p-grid">
      <div class="p-col-2 app-header">Fecha</div>
      <div class="p-col-2 app-header-value"><p-calendar placeholder="dd/mm/aaaa" [showIcon]="true" inputId="icon"
        dateFormat="dd/mm/yy" [(ngModel)]="objeto.fecha"></p-calendar>
      </div>
      <div class="p-col-2 app-header">Departamento:</div>
      <div class="p-col-2 app-header"><p-dropdown [options]="departamentos" styleClass="width_full"
        placeholder="Seleccione.." optionLabel="label" optionValue="value"
        [showClear]="true" optionDisabled="inactive" [(ngModel)]="objeto.departamento">
        </p-dropdown>
      </div>
      <div class="p-col-2 app-header">Municipio::</div>
      <div class="p-col-2 app-header"><p-dropdown [options]="municipios" styleClass="width_full"
        placeholder="Seleccione.." optionLabel="label" optionValue="value"
        [showClear]="true" optionDisabled="inactive" [(ngModel)]="objeto.municipio">
        </p-dropdown>
      </div>
      <div class="p-col-4 app-header">Nombre del propietario o representante legal:</div>
      <div class="p-col-8 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.nombrePropietario"/></div>
      <div class="p-col-2 app-header">Nombre de la finca:</div>
      <div class="p-col-4 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.nombreFinca"/></div>
      <div class="p-col-2 app-header">Vereda - microlocalización:</div>
      <div class="p-col-4 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.vereda"/></div>
      <div class="p-col-4 app-header">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        Profesionales a cargo de la asesoría:
      </div>
      <div class="p-col-8 app-header-value">
        <input type="text" pInputText [(ngModel)]="objeto.profesionalACargoUno"/>
        &nbsp;
        <input type="text" pInputText [(ngModel)]="objeto.profesionalACargoDos"/>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-1 app-header">N°</div>
      <div class="p-col-4 app-header">Identificación Receptora</div>
      <div class="p-col-4 app-header">Identificación Toro</div>
      <div class="p-col-3 app-header"></div>
      <div class="p-col-1 app-header"></div>
      <div class="p-col-2 app-header">Nombre</div>
      <div class="p-col-1 app-header">Número</div>
      <div class="p-col-1 app-header">Raza</div>
      <div class="p-col-2 app-header">Nombre</div>
      <div class="p-col-1 app-header">Número</div>
      <div class="p-col-1 app-header">Raza</div>
      <div class="p-col-3 app-header">Observaciones</div>
    </div>
    &nbsp;
    <div class="p-grid" *ngFor="let item of items; let i = index">
      <div class="p-col-1" style="text-align: center;">{{i + 1}}</div>
      <div class="p-col-2"><input type="text" pInputText [(ngModel)]="item.nombreIdentificacionReceptora"/></div>
      <div class="p-col-1"><input type="text" pInputText [(ngModel)]="item.numeroIdentificacionReceptora"/></div>
      <div class="p-col-1"><input type="text" pInputText [(ngModel)]="item.razaIdentificacionReceptora"/></div>
      <div class="p-col-2 divisor-app"><input type="text" pInputText [(ngModel)]="item.nombreIdentificacionToro"/></div>
      <div class="p-col-1"><input type="text" pInputText [(ngModel)]="item.numeroIdentificacionToro"/></div>
      <div class="p-col-1"><input type="text" pInputText [(ngModel)]="item.razaIdentificacionToro"/></div>
      <div class="p-col-3">
        <textarea rows="2" cols="30" pInputTextarea maxlength="400" style="width: 100%; resize:none;" [(ngModel)]="item.observacion"></textarea>
      </div>
    </div>
    &nbsp;
    <div class="p-grid">
      <div class="p-col-2 app-header">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>Técnicos Responsables:</div>
      </div>
      <div class="p-col-4 app-header-value">
        <input type="text" pInputText [(ngModel)]="objeto.fecha"/>
        &nbsp;
        <input type="text" pInputText [(ngModel)]="objeto.fecha"/>
      </div>
      <div class="p-col-2 app-header">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        Tarjeta profesional:
      </div>
      <div class="p-col-4 app-header-value">
        <input type="text" pInputText [(ngModel)]="objeto.fecha"/>
        &nbsp;
        <input type="text" pInputText [(ngModel)]="objeto.fecha"/>
      </div>
    </div>
    <div class="modal-footer">
      <div class="wrapper">
        <button pButton pRipple type="button" label="Cancelar" class="p-button-outlined" (click)="cancelar()"></button>
        <div class="p-mr-2"></div>
        <button pButton pRipple type="button" class="p-button-success-app" label="Guardar" (click)="guardar()"></button>
      </div>
    </div>
  </div>
</div>
