<div class="content-app">
    <p-tabView [scrollable]="true" [(activeIndex)]="activeIndex" (onChange)="tabChange($event)">
        <p-tabPanel header="Caracterización">
            <app-listas tipo="/caracterizacion"></app-listas>
        </p-tabPanel>
        <p-tabPanel header="Recomendaciones">
            <app-listas tipo="/recomendaciones"></app-listas>
        </p-tabPanel>
        <p-tabPanel header="Registro animales BRA">
            <app-listas tipo="/listasBra"></app-listas>
        </p-tabPanel>
        <p-tabPanel header="Registro hembras prot. IATF">
            <app-listas tipo="/listasIatf"></app-listas>
        </p-tabPanel>
        <p-tabPanel header="Aspiración folicular">
            <app-listas tipo="/aspiraciones"></app-listas>
        </p-tabPanel>
        <p-tabPanel header="Listado donadoras">
            <app-listas tipo="/listasDonadoras"></app-listas>
        </p-tabPanel>
        <p-tabPanel header="Listado Toros TE ">
            <app-listas tipo="/listasToro"></app-listas>
        </p-tabPanel>
        <p-tabPanel header="Registro hembras prot. PIVE">
            <app-listas tipo="/listasTransferenciaEmbrion"></app-listas>
        </p-tabPanel>
        <p-tabPanel header="Evaluación Andrológica">
            <app-listas tipo="/listasEvaluacionAndrologica"></app-listas>
        </p-tabPanel>
    </p-tabView>
</div>
