<div class="content-app">
  <cmd-title text="Registro hembras protocolizadas transferencia de embriones"></cmd-title>
  <div class="card_border border_top_green content-app">
    <div class="p-grid">
      <div class="p-col-2 app-header">Fecha</div>
      <div class="p-col-2 app-header-value">
        <p-calendar placeholder="dd/mm/aaaa" [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy"
          [(ngModel)]="objeto.fecha"></p-calendar>
      </div>
      <div class="p-col-2 app-header">Departamento:</div>
      <div class="p-col-2 app-header-value">
        <p-dropdown [options]="departamentos" styleClass="width_full" placeholder="Seleccione.." optionLabel="label"
          optionValue="value" [showClear]="true" optionDisabled="inactive" [(ngModel)]="objeto.departamento">
        </p-dropdown>
      </div>
      <div class="p-col-2 app-header">Municipio:</div>
      <div class="p-col-2 app-header-value">
        <p-dropdown [options]="municipios" styleClass="width_full" placeholder="Seleccione.." optionLabel="label"
          optionValue="value" [showClear]="true" optionDisabled="inactive" [(ngModel)]="objeto.municipio">
        </p-dropdown>
      </div>
      <div class="p-col-2 app-header">Empaque de embriones:</div>
      <div class="p-col-2 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.empaqueEmbriones" /></div>
      <div class="p-col-2 app-header">Nombre del propietario o representante legal:</div>
      <div class="p-col-2 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.nombrePropietario" />
      </div>
      <div class="p-col-2 app-header">Transferidor:</div>
      <div class="p-col-2 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.transferidor" /></div>
      <div class="p-col-2 app-header">Nombre de la finca:</div>
      <div class="p-col-2 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.nombreFinca" /></div>
      <div class="p-col-2 app-header">Hora de inicio:</div>
      <div class="p-col-2 app-header-value"><p-calendar [(ngModel)]="objeto.horaInicio" [timeOnly]="true" hourFormat="12" inputId="timeonly1"></p-calendar></div>
      <div class="p-col-2 app-header">Hora final:</div>
      <div class="p-col-2 app-header-value"><p-calendar [(ngModel)]="objeto.horaFinal" [timeOnly]="true" hourFormat="12" inputId="timeonly1"></p-calendar></div>
      <div class="p-col-2 app-header">Vereda - microlocalizacion:</div>
      <div class="p-col-10 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.vereda" /></div>
      <div class="p-col-2 app-header">Profesional producción invitro de embriones:</div>
      <div class="p-col-10 app-header-value"><input type="text" pInputText
          [(ngModel)]="objeto.profesionalProduccionInvitroEmbriones" /></div>
      <div class="p-col-2 app-header">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        Profesionales a cargo de la asesoría:
      </div>
      <div class="p-col-10 app-header-value">
        <input type="text" pInputText [(ngModel)]="objeto.profesionalACargoUno" />
        &nbsp;
        <input type="text" pInputText [(ngModel)]="objeto.profesionalACargoDos" />
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-1 app-header app-titulo">N°</div>
      <div class="p-col-1 app-header app-titulo">Donadora</div>
      <div class="p-col-1 app-header app-titulo">Raza</div>
      <div class="p-col-1 app-header app-titulo">Toro</div>
      <div class="p-col-1 app-header app-titulo">Raza</div>
      <div class="p-col-1 app-header app-titulo">Embrión</div>
      <div class="p-col-1 app-header app-titulo">Receptora</div>
      <div class="p-col-1 app-header app-titulo">Ovario</div>
      <div class="p-col-1 app-header app-titulo">P60</div>
      <div class="p-col-1 app-header app-titulo">Hallaz</div>
      <div class="p-col-1 app-header app-titulo">SX</div>
      <div class="p-col-1 app-header app-titulo">Observación</div>
    </div>
    &nbsp;
    <div class="p-grid" *ngFor="let item of items; let i = index">
      <div class="p-col-1" style="text-align: center;">{{i + 1}}</div>
      <div class="p-col-1"><input type="text" pInputText [(ngModel)]="item.nombreDonadora" /></div>
      <div class="p-col-1"><input type="text" pInputText [(ngModel)]="item.razaDonadora" /></div>
      <div class="p-col-1"><input type="text" pInputText [(ngModel)]="item.nombreToro" /></div>
      <div class="p-col-1"><input type="text" pInputText [(ngModel)]="item.razaToro" /></div>
      <div class="p-col-1"><input type="text" pInputText [(ngModel)]="item.embrion" /></div>
      <div class="p-col-1"><input type="text" pInputText [(ngModel)]="item.receptora" /></div>
      <div class="p-col-1"><input type="text" pInputText [(ngModel)]="item.ovario" /></div>
      <div class="p-col-1"><input type="text" pInputText [(ngModel)]="item.p60" /></div>
      <div class="p-col-1"><input type="text" pInputText [(ngModel)]="item.hallazgo" /></div>
      <div class="p-col-1"><input type="text" pInputText [(ngModel)]="item.sx" /></div>
      <div class="p-col-1">
        <textarea rows="2" cols="30" pInputTextarea maxlength="400" style="width: 100%; resize:none;"
          [(ngModel)]="item.observacion"></textarea>
      </div>
    </div>
    &nbsp;
    <div class="p-grid">
      <div class="p-col-2 app-header">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>Técnicos Responsables:</div>
      </div>
      <div class="p-col-4 app-header-value">
        <input type="text" pInputText [(ngModel)]="objeto.tecnicoResponsableUno" />
        &nbsp;
        <input type="text" pInputText [(ngModel)]="objeto.tecnicoResponsableDos" />
      </div>
      <div class="p-col-2 app-header">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        Tarjeta profesional:
      </div>
      <div class="p-col-4 app-header-value">
        <input type="text" pInputText [(ngModel)]="objeto.tarjetaProfesionalUno" />
        &nbsp;
        <input type="text" pInputText [(ngModel)]="objeto.tarjetaProfesionalDos" />
      </div>
    </div>
    <div class="modal-footer">
      <div class="wrapper">
        <button pButton pRipple type="button" label="Cancelar" class="p-button-outlined" (click)="cancelar()"></button>
        <div class="p-mr-2"></div>
        <button pButton pRipple type="button" class="p-button-success-app" label="Guardar" (click)="guardar()"></button>
      </div>
    </div>
  </div>
</div>