<cmed-toast></cmed-toast>
<div class="header">
  <div class="app_brandTopBar__container">
    <span class="verde30"></span>
    <span class="verde50"></span>
    <span class="verde60"></span>
    <span class="verde70"></span>
    <span class="verde100"></span>
  </div>
  <div style="display: flex;">
    <div style="width: 50%; margin-top: -11px;">
       <img style="height: 90px; width: 300px; margin-top: 2px;" alt="Angular Logo" src="./assets/logo.png"/>
    </div>
    <div style="width: 30%; margin-top: -11px;">
      <img style="height: 80px; width: 170px; margin-top: 5px;" alt="Angular Logo" src="./assets/logo1.jpeg"/>
   </div>
    <div *ngIf="!isLoggedin" style="padding-top: 12px;" class="inciar-sesion">
      <div>
        <button class="css-1i6ynxb p-button-success-app" type="button" tabindex="0" #loginRef>
          <span class="css-1ujqpe8">
            <img src="https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/5.0.331/static/media/google-logo.e086107b.svg" alt="">
          </span>
          <span class="css-19r5em7" style="font-size: 16px;">
            <div class="texto-login-app">Iniciar sesión con Google</div>
            <div class="texto-login-apk">Iniciar sesión</div>
          </span>
        </button>
      </div>      
    </div>
    <div *ngIf="isLoggedin" class="info-usuario">
      <div class="p-grid">
        <div class="p-text-right">
          <div class="icono-usuario">
            <span class="">{{nombre?.substring(0, 1) + '' + apellido?.substring(0, 1)}}</span>
          </div>
        </div>
        <div class="p-col-12 p-md-9 p-lg-9 nombres-usuario">
          <span class="nombre-usuario">{{nombreUsuario}}</span>
          &nbsp;
          <span class="descripcion">{{correo}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isLoggedin">
  <div class="content">
      <div class="container">
          <nav>
              <ul>
                <li>
                  <a [routerLink]="['/inicio']" routerLinkActive="router-link-active" 
                     [routerLinkActiveOptions]="{exact: true}" pTooltip="Inicio">
                    <i class="pi pi-home animate__animated animate__zoomIn"></i>
                  </a>
                  <a [routerLink]="['/listasAsi']" routerLinkActive="router-link-active" 
                     [routerLinkActiveOptions]="{exact: true}" pTooltip="Listas de chequeo ASI">
                    <i class="pi pi-check-circle animate__animated animate__zoomIn"></i>
                  </a>
                  <a [routerLink]="['/listasBgp']" routerLinkActive="router-link-active" 
                     [routerLinkActiveOptions]="{exact: true}" pTooltip="Listas de chequeo BPG">
                    <i class="pi pi-check-square animate__animated animate__zoomIn"></i>
                  </a>
                  <a [routerLink]="['/listasIatf']" routerLinkActive="router-link-active" 
                     [routerLinkActiveOptions]="{exact: true}" pTooltip="Listas de inceminación IATF">
                    <i class="pi pi-align-center  animate__animated animate__zoomIn"></i>
                  </a>
                  <a [routerLink]="['/listasDonadoras']" routerLinkActive="router-link-active" 
                     [routerLinkActiveOptions]="{exact: true}" pTooltip="Listas de donadoras">
                    <i class="pi pi-qrcode animate__animated animate__zoomIn"></i>
                  </a>
                  <a [routerLink]="['/listasToro']" routerLinkActive="router-link-active" 
                     [routerLinkActiveOptions]="{exact: true}" pTooltip="Listado de toros TE">
                    <i class="pi pi-prime animate__animated animate__zoomIn"></i>
                  </a>
                  <a [routerLink]="['/listasTransferenciaEmbrion']" routerLinkActive="router-link-active" 
                     [routerLinkActiveOptions]="{exact: true}" pTooltip="Transferencia Embriones TE">
                    <i class="pi pi-arrows-h animate__animated animate__zoomIn"></i>
                  </a>
                  <a [routerLink]="['/listasEvaluacionAndrologica']" routerLinkActive="router-link-active" 
                     [routerLinkActiveOptions]="{exact: true}" pTooltip="Evaluación Andrológica">
                    <i class="pi pi-arrow-up-right animate__animated animate__zoomIn"></i>
                  </a>
                  <a (click)="logOut()" style="cursor: pointer;" routerLinkActive="router-link-active" 
                     [routerLinkActiveOptions]="{exact: true}" pTooltip="Cerrar sesión">
                    <i class="pi pi-sign-in animate__animated animate__zoomIn"></i>
                  </a>
                </li>  
              </ul>
            </nav>
      </div>
      <div class="contenido-principal body-app">
          <div class="spinner" *ngIf="service.isProgress()">
            <span class="label-spinner">Cargando...</span>
            <p-progressSpinner [style]="{ width: '150px', height: '150px' }" styleClass="custom-spinner"
              strokeWidth="3"></p-progressSpinner>
          </div>
          <router-outlet></router-outlet>
      </div>
  </div>  
</div>
