<div class="content-app">
  <cmd-title text="Lista de chequeo BPG"></cmd-title>
  <div class="card_border border_top_green content-app">
    <div class="p-grid">
      <div class="p-col-12 app-header app-titulo">INFORMACIÓN DEL PREDIO</div>
      <div class="p-col-2 app-header">Fecha de Auditoría:</div>
      <div class="p-col-2 app-header-value"><p-calendar placeholder="dd/mm/aaaa" [showIcon]="true" inputId="icon"
        dateFormat="dd/mm/yy" [(ngModel)]="objeto.fechaAuditoria"></p-calendar></div>
      <div class="p-col-2 app-header">Número de RSPP- ISPP:</div>
      <div class="p-col-6 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.numeroRsppIspp"/></div>
      <div class="p-col-2 app-header">Nombre del predio:</div>
      <div class="p-col-6 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.nombrePredio"/></div>
      <div class="p-col-1 app-header">Latitud:</div>
      <div class="p-col-1 app-header-value"><p-inputNumber [min]="0" locale="de-DE" mode="decimal" [minFractionDigits]="2" [(ngModel)]="objeto.latitud"></p-inputNumber></div>
      <div class="p-col-1 app-header">Longitud:</div>
      <div class="p-col-1 app-header-value"><p-inputNumber [min]="0" locale="de-DE" mode="decimal" [minFractionDigits]="2" [(ngModel)]="objeto.longitud"></p-inputNumber></div>
      
      <div class="p-col-2 app-header">Departamento:</div>
      <div class="p-col-2 app-header"><p-dropdown [options]="departamentos" styleClass="width_full"
        placeholder="Seleccione.." optionLabel="label" optionValue="value"
        [showClear]="true" optionDisabled="inactive" [(ngModel)]="objeto.departamento">
        </p-dropdown>
      </div>
      <div class="p-col-2 app-header">Especie:</div>
      <div class="p-col-2 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.especie"/></div>
      <div class="p-col-2 app-header">Fin zootécnico:</div>
      <div class="p-col-1">
        <div class="field-checkbox">
          <p-checkbox [binary]="true" inputId="binary" value="Cría" [(ngModel)]="objeto.cria"></p-checkbox>
          &nbsp;
          <label for="binary">Cría</label>
        </div>
      </div>
      <div class="p-col-1">
        <div class="field-checkbox">
          <p-checkbox [binary]="true" inputId="binary" value="Levante" [(ngModel)]="objeto.levante"></p-checkbox>
          &nbsp;
          <label for="binary">Levante</label>
        </div>
      </div>
      <div class="p-col-2 app-header">Municipio:</div>
      <div class="p-col-2 app-header"><p-dropdown [options]="municipios" styleClass="width_full"
        placeholder="Seleccione.." optionLabel="label" optionValue="value"
        [showClear]="true" optionDisabled="inactive" [(ngModel)]="objeto.municipio">
        </p-dropdown>
      </div>
      <div class="p-col-2 app-header">Vereda:</div>
      <div class="p-col-2 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.vereda"/></div>
      <div class="p-col-1 app-header">Total animales:</div>
      <div class="p-col-1 app-header-value"><p-inputNumber [min]="0" locale="de-DE" [(ngModel)]="objeto.totalAnimales"></p-inputNumber></div>
      <div class="p-col-1">
        <div class="field-checkbox">
          <p-checkbox [binary]="true" inputId="binary" value="Ceba" [(ngModel)]="objeto.ceba"></p-checkbox>
          &nbsp;
          <label for="binary">Ceba</label>
        </div>
      </div>
      <div class="p-col-1">
        <div class="field-checkbox">
          <p-checkbox [binary]="true" inputId="binary" value="Ciclo completo" [(ngModel)]="objeto.cicloCompleto"></p-checkbox>
          &nbsp;
          <label for="binary">Ciclo completo</label>
        </div>
      </div>
      
      <div class="p-col-12 app-header app-titulo">INFORMACIÓN DEL PROPIETARIO</div>
      <div class="p-col-3 app-header">Propietario:</div>
      <div class="p-col-3 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.nombrePropietario"/></div>
      <div class="p-col-3 app-header">Teléfono:</div>
      <div class="p-col-3 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.telefonoPropietario"/></div>
      <div class="p-col-3 app-header">No de Identificación:</div>
      <div class="p-col-3 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.numeroIdentificacion"/></div>
      <div class="p-col-3 app-header">Correo electrónico:</div>
      <div class="p-col-3 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.correoElectronicoPropietario"/></div>
      
      <div class="p-col-12 app-header app-titulo">INFORMACIÓN GENERAL</div>
      <div class="p-col-2 app-header">Responsable del manejo sanitario:</div>
      <div class="p-col-3 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.responsableManejoSanitario"/></div>
      <div class="p-col-1">
        <div class="field-checkbox">
          <p-checkbox [binary]="true" inputId="binary" value="MV" [(ngModel)]="objeto.mv"></p-checkbox>
          &nbsp;
          <label for="binary">MV</label>
        </div>
      </div>
      <div class="p-col-1">
        <div class="field-checkbox">
          <p-checkbox [binary]="true" inputId="binary" value="MVZ" [(ngModel)]="objeto.mvz"></p-checkbox>
          &nbsp;
          <label for="binary">MVZ</label>
        </div>
      </div>
      <div class="p-col-2 app-header">Matrícula profesional No:</div>
      <div class="p-col-3 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.numeroMatricula"/></div>

      <div class="p-col-3 app-header">Correo:</div>
      <div class="p-col-3 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.correoElectronicoResponsable"/></div>
      <div class="p-col-3 app-header">Teléfono:</div>
      <div class="p-col-3 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.telefonoResponsable"/></div>
      <div class="p-col-4 app-header">Tipo de visita:</div>
      <div class="p-col-2">
        <div class="field-checkbox">
          <p-radioButton name="tipo" value="Certificación" [(ngModel)]="objeto.tipoVisita"></p-radioButton>
          &nbsp;
          <label for="binary">Certificación</label>
        </div>
      </div>
      <div class="p-col-2">
        <div class="field-checkbox">
          <p-radioButton name="tipo" value="Inspección" [(ngModel)]="objeto.tipoVisita"></p-radioButton>
          &nbsp;
          <label for="binary">Inspección</label>
        </div>
      </div>
      <div class="p-col-2">
        <div class="field-checkbox">
          <p-radioButton name="tipo" value="Vigilancia" [(ngModel)]="objeto.tipoVisita"></p-radioButton>
          &nbsp;
          <label for="binary">Vigilancia</label>
        </div>
      </div><div class="p-col-2">
        <div class="field-checkbox">
          <p-radioButton name="tipo" value="Control" [(ngModel)]="objeto.tipoVisita"></p-radioButton>
          &nbsp;
          <label for="binary">Control</label>
        </div>
      </div>
    </div>
    <div *ngFor="let item of items" class="item-app">
      <div *ngIf="item.header" class="app-header p-grid">
        <div class="p-col-1">{{item.num}}</div>
        <div class="p-col-9 app-titulo">{{item.objetivo}}</div>
        <div class="p-col-1 app-titulo">TIPO</div>
        <div class="p-col-1 app-titulo">CALIFICACIÓN</div>
      </div>
      <div class="p-grid" *ngIf="!item.header">
        <div class="p-col-1" style="text-align: center;">
          {{item.numeral}}
        </div>
        <div class="p-col-9">
          {{item.objetivo}}
        </div>
        <div class="p-col-1" style="text-align: center;">
          {{item.tipoCriterio}}
        </div>
        <div class="p-col-1">
          <p-dropdown [options]="options" [(ngModel)]="item.opcion" styleClass="width_full"
          placeholder="..." optionLabel="label" optionValue="value"
          [showClear]="true" optionDisabled="inactive" (onChange)="calcularValores()"
          [(ngModel)]="item.calificacion">
          </p-dropdown>
        </div>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12 app-header">OBTENCIÓN DEL CONCEPTO</div>
      <div class="p-col-2 app-header">Criterios</div>
      <div class="p-col-2 app-header">Total criterios a cumplir</div>
      <div class="p-col-2 app-header">Criterios que no aplican (NA)</div>
      <div class="p-col-2 app-header">Criterios que no se cumplen (NO)</div>
      <div class="p-col-2 app-header">Criterios que se cumplen (SI)</div>
      <div class="p-col-2 app-header">% De cumplimiento</div>
      <div class="p-col-2 app-header">Fundamentales</div>
      <div class="p-col-2 app-header">15</div>
      <div class="p-col-2 app-header-value app-value">{{fundamentalNa}}</div>
      <div class="p-col-2 app-header-value app-value">{{fundamentalNo}}</div>
      <div class="p-col-2 app-header-value app-value">{{fundamentalSi}}</div>
      <div class="p-col-2 app-header-value app-value">{{fundamentalP | percent}}</div>
      <div class="p-col-2 app-header">Mayores</div>
      <div class="p-col-2 app-header">31</div>
      <div class="p-col-2 app-header-value app-value">{{mayorNa}}</div>
      <div class="p-col-2 app-header-value app-value">{{mayorNo}}</div>
      <div class="p-col-2 app-header-value app-value">{{mayorSi}}</div>
      <div class="p-col-2 app-header-value app-value">{{mayorP | percent}}</div>
      <div class="p-col-2 app-header">Menores</div>
      <div class="p-col-2 app-header">4</div>
      <div class="p-col-2 app-header-value app-value">{{menorNa}}</div>
      <div class="p-col-2 app-header-value app-value">{{menorNo}}</div>
      <div class="p-col-2 app-header-value app-value">{{menorSi}}</div>
      <div class="p-col-2 app-header-value app-value">{{menorP | percent}}</div>
      <div class="p-col-4 app-header">Concepto (Favorable o Desfavorable)</div>
      <div class="p-col-8 app-header-value app-value app-{{concepto}}">{{concepto}}</div>
      <div class="p-col-4 app-header">Para qué especies existentes en el predio aplica este concepto:</div>
      <div class="p-col-8 app-header-value"></div>
      <div class="p-col-12 app-header">Observaciones:</div>
      <div class="p-col-8 app-header-value">
        <textarea rows="5" cols="30" pInputTextarea maxlength="400" style="width: 150%;" [(ngModel)]="objeto.concepto.observaciones"></textarea>
      </div>
      <div class="p-col-6 app-header app-titulo">PERSONA QUE ATENDIO LA VISITA</div>
      <div class="p-col-6 app-header app-titulo">DATOS DEL AUDITOR</div>
      <div class="p-col-3 app-header">Nombre completo</div>
      <div class="p-col-3 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.concepto.nombreAtiende"/></div>
      <div class="p-col-3 app-header">Nombre completo</div>
      <div class="p-col-3 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.concepto.nombreAuditoria"/></div>
      <div class="p-col-3 app-header">Cédula</div>
      <div class="p-col-3 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.concepto.numeroIdentificacionAtiende"/></div>
      <div class="p-col-3 app-header">Matrícula profesional</div>
      <div class="p-col-3 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.concepto.numeroIdentificacionAuditoria"/></div>
    </div>
    <div class="modal-footer" *ngIf="objeto.id == undefined">
      <div class="wrapper">
        <button pButton pRipple type="button" label="Cancelar" class="p-button-outlined" (click)="cancelar()"></button>
        <div class="p-mr-2"></div>
        <button pButton pRipple type="button" class="p-button-success-app" label="Guardar" (click)="guardar()"></button>
      </div>
    </div>
  </div>
</div>
