<div class="content-app">
  <cmd-title text=" Lista de chequeo ASI"></cmd-title>
  <div class="card_border border_top_green content-app">
    <div class="p-grid">
      <div class="p-col-12 app-header app-titulo">LISTA DE CHEQUEO
        VERIFICACIÓN DE REQUISITOS PARA  LA AUTORIZACIÓN SANITARIA Y DE INOCUIDAD EN LOS PREDIOS PRODUCTORES DE ANIMALES DESTINADOS A LA PRODUCCIÓN DE CARNE Y/O LECHE PARA EL CONSUMO HUMANO - RES. 115708 de 2021</div>
      <div class="p-col-2 app-header">Fecha</div>
      <div class="p-col-2 app-header-value"><p-calendar placeholder="dd/mm/aaaa" [showIcon]="true" inputId="icon"
        dateFormat="dd/mm/yy" [(ngModel)]="objeto.fecha"></p-calendar></div>
      <div class="p-col-2 app-header">OBJETO:</div>
      <div class="p-col-2">
        <div class="field-checkbox">
          <p-radioButton name="tipo" value="Autorización" [(ngModel)]="objeto.objeto"></p-radioButton>
          &nbsp;
          <label for="binary">Autorización</label>
        </div>
      </div>
      <div class="p-col-2">
        <div class="field-checkbox">
          <p-radioButton name="tipo" value="Modificación" [(ngModel)]="objeto.objeto"></p-radioButton>
          &nbsp;
          <label for="binary">Modificación</label>
        </div>
      </div>
      <div class="p-col-2">
        <div class="field-checkbox">
          <p-radioButton name="tipo" value="Inspección, Vigilancia y Control" [(ngModel)]="objeto.objeto"></p-radioButton>
          &nbsp;
          <label for="binary">Inspección, Vigilancia y Control</label>
        </div>
      </div>      
      <div class="p-col-12 app-header app-titulo">INFORMACIÓN GENERAL DEL PREDIO</div>
      <div class="p-col-2 app-header">Número de Registro del predio</div>
      <div class="p-col-4 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.numeroRegistroPredio"/></div>
      <div class="p-col-2 app-header">Nombre del predio</div>
      <div class="p-col-4 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.nombrePredio"/></div>
      
      <div class="p-col-12 app-header app-titulo">INVENTARIO ANIMAL DEL PREDIO</div>
      <div class="p-col-2 app-header">Bovinos</div>
      <div class="p-col-2 app-header-value"><p-inputNumber [min]="0" locale="de-DE" [(ngModel)]="objeto.bovinos"></p-inputNumber></div>
      <div class="p-col-2 app-header">Bufalinos</div>
      <div class="p-col-2 app-header-value"><p-inputNumber [min]="0" locale="de-DE" [(ngModel)]="objeto.bufalinos"></p-inputNumber></div>
      <div class="p-col-2 app-header">Équidos</div>
      <div class="p-col-2 app-header-value"><p-inputNumber [min]="0" locale="de-DE" [(ngModel)]="objeto.equidos"></p-inputNumber></div>
      <div class="p-col-2 app-header">Porcinos</div>
      <div class="p-col-2 app-header-value"><p-inputNumber [min]="0" locale="de-DE" [(ngModel)]="objeto.porcinos"></p-inputNumber></div>
      <div class="p-col-2 app-header">Ovinos</div>
      <div class="p-col-2 app-header-value"><p-inputNumber [min]="0" locale="de-DE" [(ngModel)]="objeto.ovinos"></p-inputNumber></div>
      <div class="p-col-2 app-header">Caprinos</div>
      <div class="p-col-2 app-header-value"><p-inputNumber [min]="0" locale="de-DE" [(ngModel)]="objeto.caprinos"></p-inputNumber></div>

      <div class="p-col-2 app-header">Aves de corral </div>
      <div class="p-col-2 app-header-value"><p-inputNumber [min]="0" locale="de-DE" [(ngModel)]="objeto.avesCorral"></p-inputNumber></div>
      <div class="p-col-2 app-header">Conejos</div>
      <div class="p-col-2 app-header-value"><p-inputNumber [min]="0" locale="de-DE" [(ngModel)]="objeto.conejos"></p-inputNumber></div>
      <div class="p-col-2 app-header">Peces de cultivo</div>
      <div class="p-col-2 app-header-value"><p-inputNumber [min]="0" locale="de-DE" [(ngModel)]="objeto.pecesCultivo"></p-inputNumber></div>
      <div class="p-col-2 app-header">Zoocría (especie)</div>
      <div class="p-col-10 app-header-value"><p-inputNumber [min]="0" locale="de-DE" [(ngModel)]="objeto.zoocria"></p-inputNumber></div>
      
      <div class="p-col-12 app-header app-titulo">FIN ZOOTÉCNICO</div>

      <div class="p-col-2 app-header">CRIA</div>
      <div class="p-col-2 app-header-value"><p-checkbox [(ngModel)]="objeto.cria" [binary]="true" inputId="binary"></p-checkbox></div>
      <div class="p-col-2 app-header">LEVANTE</div>
      <div class="p-col-2 app-header-value"><p-checkbox [(ngModel)]="objeto.levante" [binary]="true" inputId="binary"></p-checkbox></div>
      <div class="p-col-2 app-header">CEBA (ENGORDE)</div>
      <div class="p-col-2 app-header-value"><p-checkbox [(ngModel)]="objeto.ceba" [binary]="true" inputId="binary"></p-checkbox></div>
      <div class="p-col-2 app-header">LECHE</div>
      <div class="p-col-2 app-header-value"><p-checkbox [(ngModel)]="objeto.leche" [binary]="true" inputId="binary"></p-checkbox></div>
      
      <div class="p-col-2 app-header">POSTURA</div>
      <div class="p-col-2 app-header-value"><p-checkbox [(ngModel)]="objeto.postura" [binary]="true" inputId="binary"></p-checkbox></div>
      <div class="p-col-2 app-header">MATERIAL GENÉTICO</div>
      <div class="p-col-2 app-header-value"><p-checkbox [(ngModel)]="objeto.materialGenetico" [binary]="true" inputId="binary"></p-checkbox></div>
      <div class="p-col-2 app-header">OTRO (CUAL)</div>
      <div class="p-col-8 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.otro"/></div>

      <div class="p-col-10 app-header app-titulo">REQUISITOS A EVALUAR EN EL PREDIO  </div>
      <div class="p-col-1 app-header app-titulo">CRITERIO</div>
      <div class="p-col-1 app-header app-titulo">CALIFICACIÓN</div>
    </div>
    <div *ngFor="let item of items" class="item-app">
      <div class="p-grid">
        <div class="p-col-10">
          {{item.objetivo}}
        </div>
        <div class="p-col-1" style="text-align: center;">
          {{item.tipoCriterio}}
        </div>
        <div class="p-col-1">
          <p-dropdown [options]="options" styleClass="width_full" [(ngModel)]="item.calificacion"
          placeholder="..." optionLabel="label" optionValue="value"
          [showClear]="true" optionDisabled="inactive" (onChange)="calcularValores()">
          </p-dropdown>
        </div>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12 app-header">OBTENCIÓN DEL CONCEPTO</div>
      <div class="p-col-2 app-header">Criterios</div>
      <div class="p-col-2 app-header">Total criterios a cumplir</div>
      <div class="p-col-2 app-header">Criterios que no aplican (NA)</div>
      <div class="p-col-2 app-header">Criterios que no se cumplen (NO)</div>
      <div class="p-col-2 app-header">Criterios que se cumplen (SI)</div>
      <div class="p-col-2 app-header">% De cumplimiento</div>
      <div class="p-col-2 app-header">Fundamentales</div>
      <div class="p-col-2 app-header">7</div>
      <div class="p-col-2 app-header-value app-value">{{fundamentalNa}}</div>
      <div class="p-col-2 app-header-value app-value">{{fundamentalNo}}</div>
      <div class="p-col-2 app-header-value app-value">{{fundamentalSi}}</div>
      <div class="p-col-2 app-header-value app-value">{{fundamentalP | percent}}</div>
      <div class="p-col-2 app-header">Mayores</div>
      <div class="p-col-2 app-header">23</div>
      <div class="p-col-2 app-header-value app-value">{{mayorNa}}</div>
      <div class="p-col-2 app-header-value app-value">{{mayorNo}}</div>
      <div class="p-col-2 app-header-value app-value">{{mayorSi}}</div>
      <div class="p-col-2 app-header-value app-value">{{mayorP | percent}}</div>
      <div class="p-col-2 app-header">Menores</div>
      <div class="p-col-2 app-header">10</div>
      <div class="p-col-2 app-header-value app-value">{{menorNa}}</div>
      <div class="p-col-2 app-header-value app-value">{{menorNo}}</div>
      <div class="p-col-2 app-header-value app-value">{{menorSi}}</div>
      <div class="p-col-2 app-header-value app-value">{{menorP | percent}}</div>
      <div class="p-col-4 app-header">Concepto (Favorable o Desfavorable)</div>
      <div class="p-col-8 app-header-value app-value app-{{concepto}}">{{concepto}}</div>
      <div class="p-col-4 app-header">Para qué especies existentes en el predio aplica este concepto:</div>
      <div class="p-col-8 app-header-value"></div>
      <div class="p-col-12 app-header">Observaciones:</div>
      <div class="p-col-8 app-header-value">
        <textarea rows="5" cols="30" pInputTextarea maxlength="400" style="width: 150%;" [(ngModel)]="objeto.concepto.observaciones"></textarea>
      </div>
      <div class="p-col-8 app-header">Propietario, tenedor o poseedor del predio o persona autorizada</div>
      <div class="p-col-4 app-header">En caso de visita de inspección, vigilancia y control, nombre y firma de la persona del ICA o de aquellos que el instituto haya autorizado para el desarrollo de las actividades</div>
      <div class="p-col-1 app-header">Nombre completo</div>
      <div class="p-col-3 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.concepto.nombreAtiende"/></div>
      <div class="p-col-1 app-header">Nombre completo</div>
      <div class="p-col-3 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.concepto.nombreAtiendeDos"/></div>
      <div class="p-col-1 app-header">Nombre completo</div>
      <div class="p-col-3 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.concepto.nombreAuditoria"/></div>
      <div class="p-col-1 app-header">Cédula</div>
      <div class="p-col-3 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.concepto.numeroIdentificacionAtiende"/></div>
      <div class="p-col-1 app-header">Cédula</div>
      <div class="p-col-3 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.concepto.numeroIdentificacionAtiendeDos"/></div>
      <div class="p-col-1 app-header">Cédula</div>
      <div class="p-col-3 app-header-value"><input type="text" pInputText [(ngModel)]="objeto.concepto.numeroIdentificacionAuditoria"/></div>
      <div class="p-col-12 app-header-value">Política de tratamiento de datos personales: Al firmar esta forma manifiesto que he leído y acepto la política de privacidad y protección de datos personales adoptada por el Instituto Colombiano Agropecuario, ICA, y publicada para consulta en la página web www.ica.gov.co., para lo cual al firmar la presente FORMA ICA, autorizo a que el Instituto pueda tratar mis datos personales conforme dicha política y en los términos en que ello sea necesario</div>
    </div>
    <div class="modal-footer">
      <div class="wrapper">
        <button pButton pRipple type="button" label="Cancelar" class="p-button-outlined" (click)="cancelar()"></button>
        <div class="p-mr-2"></div>
        <button pButton pRipple type="button" class="p-button-success-app" label="Guardar" (click)="guardar()"></button>
      </div>
    </div>
  </div>
</div>
