<div class="content-app">
  <cmd-title text="Registro control de personas y vehículos"></cmd-title>
  <div class="card_border border_top_green content-app">
    <div class="p-grid">
      <div class="p-col-6 app-header">Empresa ganadera:</div>
      <div class="p-col-6 app-header-value">
        <input type="text" pInputText [(ngModel)]="objeto.empresaGanadera"/>
      </div>
      <div class="p-col-6 app-header">Municipio:</div>
      <div class="p-col-6 app-header-value">
          <p-dropdown [options]="municipios" style="width: 300px;" placeholder="Seleccione.."
              optionLabel="label" optionValue="value" [showClear]="true" optionDisabled="inactive"
              [(ngModel)]="objeto.municipio">
          </p-dropdown>
      </div>
      <div class="p-col-11"></div>
      <div class="p-col-1">
        <button pButton pRipple type="button" pTooltip="Agregar" tooltipPosition="left" icon="pi pi-plus" class="p-button-success-app" (click)="add()"></button>
      </div>
      <div class="p-col-2 app-header">Fecha</div>
      <div class="p-col-2 app-header">Nombre</div>
      <div class="p-col-2 app-header">Identificación</div>
      <div class="p-col-1 app-header">Teléfono</div>
      <div class="p-col-1 app-header">Placa</div>
      <div class="p-col-2 app-header">Procedencia</div>
      <div class="p-col-2 app-header">Motivo de la visita</div>
    </div>
    <div *ngFor="let item of items; let i = index" class="item-app">
      <div class="p-grid">
        <div class="p-col-2">
          <p-calendar placeholder="dd/mm/aaaa" [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy"
                    [(ngModel)]="item.fechaIngresoPersona">
          </p-calendar>
        </div>
        <div class="p-col-2">
          <input type="text" pInputText [(ngModel)]="item.nombreIngresoPersona"/>
        </div>
        <div class="p-col-2">
          <input type="text" pInputText [(ngModel)]="item.identificacionIngresoPersona"/>
        </div>
        <div class="p-col-1">
          <input type="text" pInputText [(ngModel)]="item.telefonoIngresoPersona"/>
        </div>
        <div class="p-col-1">
          <input type="text" pInputText [(ngModel)]="item.producto"/>
        </div>
        <div class="p-col-2">
          <input type="text" pInputText [(ngModel)]="item.procedenciaIngresoPersona"/>
        </div>
        <div class="p-col-2">
          <div class="p-grid">
            <div class="p-col-10"><input type="text" pInputText [(ngModel)]="item.motivoVisita"/></div>
            <div class="p-col-2"> <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-danger" (click)="remove(i)" pTooltip="Eliminar" tooltipPosition="left"></button></div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer" *ngIf="objeto.id == undefined">
      <div class="wrapper">
        <button pButton pRipple type="button" label="Cancelar" class="p-button-outlined" (click)="cancelar()"></button>
        <div class="p-mr-2"></div>
        <button pButton pRipple type="button" class="p-button-success-app" label="Guardar" (click)="guardar()"></button>
      </div>
    </div>
  </div>
</div>
