<div class="inicio-apk">
  <div style="padding: 20px">
    <button id="google-auth-button" class="css-1i6ynxb p-button-success-app" type="button" tabindex="0" (click)="logOut()">
      <span class="pi pi pi-sign-in" style="font-size: 30px;"></span>
      <span class="css-19r5em7"><span>Cerrar sesión</span></span>
    </button>
  </div>

  <div style="padding: 20px">
    <button id="google-auth-button" class="css-1i6ynxb p-button-success-app" type="button" tabindex="0" [routerLink]="['/reportes']">
      <span class="pi pi-chart-line" style="font-size: 30px;"></span>
      <span class="css-19r5em7"><span>Simulaciones</span></span>
    </button>
  </div>

</div>
<div style="padding: 20px;" class="animate__animated animate__bounceInRight">
  <p-card header="Fortalecimiento clúster cárnico bovino del departamento de Antioquia">
  <ng-template pTemplate="header"></ng-template>
  <div class="p-grid">
    <div class="p-col-12 p-md-4 p-lg-4">
      <img style="width: 100%;" alt="Angular Logo" src="./assets/pantalla2.jpg"/>
    </div>
    <div class="p-col-12 p-md-4 p-lg-8">
      <h3>Objeto</h3>
      <p class="app-parrafo">
        Fortalecimiento de la capacidades técnicas y operativas en predios ganaderos del eslabón primario de la iniciativa clúster cárnico bovino del departamento de Antioquia.
      </p>
      <h3>Propósito</h3>
      <p class="app-parrafo">
        Cualificar el talento humano a través de la capacitación normativa y técnica, implementación de herramientas tecnológicas para generar procesos de trazabilidad y de certificación animal según resolución 383 de 2021 y mejoramiento de la producción bovina mediante programas de Biotecnología reproductiva.
      </p>
      <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-6">
          <a href="https://www.politecnicojic.edu.co" target="_blank" class="logo">
            <img width="400" alt="Angular Logo" src="./assets/logo.png"/>
            </a>
        </div>
        <div class="p-col-12 p-md-6 p-lg-6">
            <a href="https://antioquia.gov.co/" target="_blank" class="logo">
              <img width="250" alt="Angular Logo" src="./assets/logo1.jpeg"/>
            </a>
        </div>
      </div>
      <p class="app-parrafo">
        &copy; 2022, Politécnico Colombiano Jaime Isaza Cadavid - Gobernación de antioquia
      </p>
    </div>
  </div>
</p-card>
</div>